In [4]:
import pandas as pd

print(pd.__version__)

2.0.3

In [5]:
data1 = ['a', 'b', 'c', 'd', 'e']
print(data1)

['a', 'b', 'c', 'd', 'e']

In [6]:
sr1 = pd.Series(data1)

In [8]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
sr1.loc[0] #인덱싱

'a'

In [10]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

In [11]:
data2 = (1, 2, 3.14, 100, -10)
sr2 = pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [12]:
dict_data = {'c0': sr1, 'c1':sr2} #Column 이름 변경

In [13]:
df1 = pd.DataFrame(dict_data)

In [14]:
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [15]:
df1.columns

Index(['c0', 'c1'], dtype='object')

# Part 2

In [16]:
x = [-3,  31,  -11,  4,  0,  22, -2, -5, -25, -14]
y = [ -2,   32,   -10,   5,  1,   23,  -1,  -4, -24,  -13]
print(x)
print(y)

[-3, 31, -11, 4, 0, 22, -2, -5, -25, -14]
[-2, 32, -10, 5, 1, 23, -1, -4, -24, -13]

In [17]:
import pandas as pd
df = pd.DataFrame({'X':x, 'Y':y})
df.shape

(10, 2)

In [18]:
df

    X   Y
0  -3  -2
1  31  32
2 -11 -10
3   4   5
4   0   1
5  22  23
6  -2  -1
7  -5  -4
8 -25 -24
9 -14 -13

In [19]:
train_features = ['X']
target_cols = ['Y']

In [21]:
X_train = df.loc[:, train_features]
y_train = df.loc[:, target_cols]
print(X_train.shape, y_train.shape)

(10, 1) (10, 1)

In [23]:
X_train

    X
0  -3
1  31
2 -11
3   4
4   0
5  22
6  -2
7  -5
8 -25
9 -14

In [24]:
y_train

    Y
0  -2
1  32
2 -10
3   5
4   1
5  23
6  -1
7  -4
8 -24
9 -13

In [26]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

#훈련 
# X_train : 훈련데이터 
# y_train : 정답데이터 
lr.fit(X_train, y_train) # 훈련

LinearRegression()

In [27]:
lr.coef_, lr.intercept_

(array([[1.]]), array([1.]))

In [28]:
print ("기울기: ", lr.coef_[0][0])
print ("y절편: ", lr.intercept_[0])

기울기:  0.9999999999999999
y절편:  0.9999999999999999